/** WHILE REVAMPING UI: HIDE ELEMENTS */

#ContainerFeedback,
#controlButtonsOld,
#ContainerFooter
{
  display: none !important;
}


:root {
  --active: #0352a6;
}


@font-face {
  font-family: Inter;
  src: url('./assets/Inter-VariableFont.ttf');
}

@font-face {
  font-family: MomentumFontIcon;
  src: url('./assets/MomentumFontIcon.woff2');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F0F2F3;
}

body {
  font-family: Inter;
  padding-top: 30px;
}

/* find icons on https://kyberheimen.com/iconbrowser/ */
.icon {
  background-size: contain;
  color: inherit;
  display: inline-block;
  font-family: MomentumFontIcon;
  font-style: normal;
  overflow: hidden;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}

.icon.wd {
  background-image: url('./assets/images/wd.svg');
}

a {
  color: var(--active);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

div {
  /* font-family: Arial, Helvetica, sans-serif; */
}




#ContainerRoomSvg {
  float: left;
  width: 60%;
  padding: 20px;
}

#sidebar {
  float: left;
  width: 40%;
  max-width: 400px;
  padding: 15px;
  max-height: 100%;
  margin-top: 1.3rem;
}

#Container2 {
  display: inline-block;
  padding: 1rem 1rem;
  width: 30%;
}

#large-container {
  width: 3000px;
  height: 3000px;
  overflow: hidden;
}

#scroll-container {
  width: calc(100% - 1px);
  height: calc(100vh + 15px);
  overflow: auto;
  margin: 0px;
}

img {
  -webkit-touch-callout: none;
}


.micButtons {
  padding: 5px;
  margin: 5px;
}

.classDegree {
  font-size: x-large;
}

.ContainerInputsFeedback {
  padding: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.ContainerHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: black;
  color: white;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0 20px;
  font-size: 20px;
  gap: 16px;
}

button:not(:disabled) {
  cursor: pointer;
}

.ContainerHeader button {
  border: 0;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.ContainerHeader button.primary {
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 7px 15px;
  gap: 10px;
}

.ContainerHeader button:hover:not(:disabled) {
  background-color: #222;
}

.ContainerHeader button.primary:hover {
  background-color: #ddd;
}

.ContainerHeader button:disabled {
  opacity: 0.6;
}

#ContainerFooter {
  display: inline-block;
  border: 1px solid rgb(12, 6, 30);
  padding: 1rem 1rem;
  background-color: black;
  color: white;
  outline: #000000 solid 10px;
  width: 100%;
}

#lblHeaderTitle {
  font-size: 1.2rem;
  display: block;
}

#lblSubtitle {
  font-size: 16px;
  color: #64bffa;
  margin: 0 9px;
}

.inputWrap {
  display: inline;
  margin: 10px;
}

.inputRow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.inputField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputField label {
  font-size: 14px;
}

input,
textarea,
select {
  background-color: white;
  border: 2px solid #888;
  border-radius: 6px;
  padding: 6px;
}

input:disabled, textarea:disabled {
  color: #999;
}

textarea {
  resize: vertical;
}

input:focus,
select:focus {
  border-color: #64bffa;
  outline: 1px solid #64bffa;
}

.unitFeetMeters,
.unitInches,
.classDegree {
  position: absolute;
  top: 2.5em;
  right: 1em;
}

.inputCellLeft1 {
  display: inline-block;
  width: 11rem;
}

.inputCellLeft2 {
  display: inline-block;
  width: 14.5rem;
}

.inputCellLeftShort {
  display: inline-block;
  width: 5rem;
}

.inputCellRight {
  display: inline-block;
}


.inputCellRightWide {
  display: inline-block;
  width: 15rem;
}

.divUpdateButton {
  display: inline-block;
}

.classCustomSettings {
  background-color: lightgrey;
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.selectRole {
  width: 100%
}

.button {
  border: 0;
  border-radius: 12px;
  font-size: 0.8rem;
  padding: 8px 24px;
  background-color: black;
  color: white;
  width: fit-content;
  touch-action: manipulation;
  cursor: pointer;
  align-self: center;
}

.button:hover {
  background-color: #222;
}

.button:active {
  box-shadow: 0 1px #777;
}

.holdIndicator {
  font-size: 5px;
}

.underlineHeader {
  font-weight: bold;
  text-decoration: underline;
}

.dynamicText {
  font-weight: bold;
}

.infoText {
  font-size: small;
  color: #2196F3;
}

.keyFOVitem {
  padding-top: 7px;
}

.highlightRed {
  background-color: rgb(232, 197, 197);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.tip {
  font-size: 12px;
  background-color: #eee;
  border-radius: 1.5em;
  padding: 0.6em 1.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.tab {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  color: #545454;
  margin-bottom: 1em;
}

.tablinks, .subtablinks, .subtablinks2 {
  border: 0;
  background: transparent;
  color: inherit;
  padding-bottom: 10px;
}

.tablinks.active, .subtablinks.active, .subtablinks2.active {
  border-bottom: 3px solid black;
}

.subtablinks, .subtablinks2 {
  font-size: 0.8em;
}

/* Style the tab content */
.tabcontent,
.tabcontent2 {
  display: none;
}

.subtabcontent,
.subtabcontent2 {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.subtabcontent {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


.selectableMenuItems {
  display: inline-flex;
  -webkit-user-select: initial;
  /* Safari */
  -ms-user-select: initial;
  /* IE 10 and IE 11 */
  user-select: initial;
  /* Standard syntax */
}

.selectableMenuItemDiv {
  display: inline-flex;
}

.selectableHover:hover {
  background-color: #ADD8E6;
  opacity: 0.9;
}

#Insert,
#Item {
  padding: 0px 0px;
}

.static {
  cursor: not-allowed;
}

#svgDiv {
  position: absolute;
  visibility: hidden;
  display: none;
  /* hiddern or visible */
}

#controlButtons {
  position: relative;
  display: flex;
  gap: 10px;
  margin: 1em 0;
}

.button-group {
  display: flex;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  font-size: 12px;
  padding: 2px 6px;
  column-gap: 4px;
}

.spacer {
  flex-grow: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.btn.active {
  background-color: #d6eaff;
  border-radius: 20px;
  color:#000;

}

#controlButtons button  {
  width: 30px;
  height: 30px;
}

#controlButtons button label {
  display: none;
}

.material-symbols-outlined {
  font-size: x-large;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.downloadButtons {
  text-align: center;
}

/* Following items control the Flex box */
.containerItems {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4px 8px;
  cursor: move;
}

.flexItemsTemp {
  padding: 0;
  margin: auto;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 5px;
  list-style: none;
  align-content: center;
  width: 100px;
  height: 140px;
}

.flexItems {
  list-style: none;
  width: 92px;
  height: 92px;
  padding: 4px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
  /* border: 1px solid purple; */
}

.flexItems:hover {
  background-color: #ADD8E6;
  opacity: 0.9;
}

.flexSubItemImage {
  margin: auto;
  width: 100%;
  height: 60px;
  object-fit: contain;
  position: relative;
  pointer-events: none;
}

.flexSubItemLabel {
  width: 100%;
  font-size: 11px;
  margin-top: 0px;
  height: 2.5em;
  font-weight: 500;
  overflow-y: hidden;
  text-align: center;
}

.menuDivider {
  width: 100%;
  margin-top: 2em;
  font-size: 14px;
  color: #444;
}

.templatelinks:hover {
  background-color: #ADD8E6;
}

#singleShadingDiv button:hover {
  background-color: #eee;
}

/* based on tool tip example from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 100px;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 1s 1s;
}

a.tooltip a.tooltiptext {
  color: lightblue;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* tool tips for icons */

.tooltipIcon {
  position: relative;
  display: inline-block;
}

.tooltipIcon .tooltiptextIcon {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 1s 1s;
}



.tooltipIcon .tooltiptextIcon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

a.tooltipIcon a.tooltiptextIcon {
  color: lightblue;
}

.tooltipIcon:hover .tooltiptextIcon {
  visibility: visible;
  opacity: 1;
}

/* tooltip bottom */

.tooltipBottom {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.tooltipBottom .tooltiptextBottom {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 100px;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.7s 0.2s;
}

.tooltipBottom .tooltiptextBottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltipBottom:hover .tooltiptextBottom {
  visibility: visible;
  opacity: 1;
}

.sliderB {
  appearance: none;
  width: 300px;
  height: 10px;
  background: #AAAAAA;
  border-radius: 12px;
  padding: 0px;
}

/* checkbox toggle CSS swith checkbox*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}

.whiteUnderlinedLink {
  outline: none;
  color: white;
  text-decoration: underline;
}

#quickSetup {
  display: none;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 0;
  background: transparent;
}

dialog {
  border-radius: 20px;
  padding: 0;
  background-color: white;
  min-width: 400px;
  max-width: 700px;
}

dialog hr {
  margin: 2em 0;
}

dialog header {
  background-color: black;
  color: white;
  padding: 2em;
  text-align: center;
}

dialog header .buttons {
  display: flex;
  gap: 10px;
  margin: 1em;
}

dialog header button {
  background-color: #222;
  color: white;
  border-radius: 2em;
  padding: 0.3em 1em;
  border: 0;
}

dialog main {
  padding: 2em;
  max-height: 70vh;
  overflow-y: auto;
}

dialog #quick-setup {
  display: none;
}

/* toggle CSS switch end */

@media screen and (max-width: 600px) {
  .ContainerHeader {
    gap: 2px;
  }

  #lblHeaderTitle {
    font-size: 16px;
  }

  .ContainerHeader #lblSubtitle {
    display: none;
  }

  .ContainerHeader button span {
    display: none;
    /* only show icons in header buttons */
  }
}

/** keep in DOM but hide for users */
.debug-info {
  display: none;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1180px) {
  #ContainerRoomSvg {
    width: 97.5%;
    padding: 0px;
    border-color: #000000;
    display: inline-block;
    border: 1px solid rgb(12, 6, 30);
    vertical-align: top;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  #sidebar {
    width: 100%;
    padding: 40px;
  }


  #Container2 {
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
  }

  .ContainerInputsFeedback {
    width: 97.5%;
  }

  #ContainerInputs {
    margin-top: 10px;
    margin-right: -30px;
    margin-bottom: 10px;
    margin-left: -5xpx;
  }

  #scroll-container {
  }

  .inputCellLeft2 {
    width: 14rem;
  }

  .inputCellLeft1 {
    width: 10.5rem;
  }

  .button:hover {
    box-shadow: 0 1px #777;
  }


}